<h2>Amend Lesson</h2>
<form name="frm" role="form" novalidate>
    <div class="row">
        <div class="form-group col-xs-6">
            <label for="language">Language</label>
            <select class="form-control" id="language" name="language" ng-model="video.language" ng-options="lang.name for lang in languages" required></select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label">Title in English</label>
            <input type="text" class="form-control" ng-model="lesson.title" readonly>
        </div>
        <div class="form-group col-sm-6" ng-show="video.language.code != 'en'">
            <label class="control-label" for="title">Title in {{video.language.name}}</label>
            <input type="text" class="form-control" id="title" name="title" ng-model="video.title" placeholder="Please enter translation..." ng-required="video.language.code != 'en'">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label">Description in English</label>
            <textarea class="form-control" ng-model="lesson.description" readonly></textarea>
        </div>
        <div class="form-group col-sm-6" ng-show="video.language.code != 'en'">
            <label class="control-label">Description in {{video.language.name}}</label>
            <textarea class="form-control" ng-model="video.description" placeholder="Please enter translation..." ng-required="video.language.code != 'en'"></textarea>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" ng-click="submit()" ng-disabled="frm.$invalid">Submit</button>&nbsp;
        <span class="text-info" ng-show="frm.$invalid">Please fill in required fields</span>
        <span class="text-danger" ng-show="err">{{err}}</span>
    </div>
</form>
