<h2 ng-cloak ng-show="err">{{err}}</h2>
<p class="translations" style="margin-left: -10px; margin-top: -10px;">
    <a class="btn btn-default btn-sm" ng-class="{'btn-primary': languageCode == 'en'}" href="/l/{{lessonId}}/en" style="margin-left: 10px; margin-top: 10px;">English</a>
    <a class="btn btn-default btn-sm" ng-class="{'btn-primary': languageCode == $parent.languageCode}" href="/l/{{lessonId}}/{{languageCode}}" ng-repeat="(languageCode, translation) in lesson.translations" style="margin-left: 10px; margin-top: 10px;">{{translation.language.name}}</a>

    <a class="btn btn-link" href="/l/{{lessonId}}/add-translation" style="margin-left: 0px; margin-top: 10px;">Add Translation</a>
</p>
<h2>{{translation.title || lesson.title}}</h2>
<p class="lead">{{translation.description || lesson.description}}</p>
<p>
    <a class="btn btn-success" ng-click="uploadForm();">Upload Video</a>
</p>
