<h2>Reset password</h2>
<form name="frm" role="form" novalidate>
    <p class="form-group" ng-class="{'has-error': frm.submitted && frm.email.$invalid}">
        <label for="email">Your email</label>
        <input id="email" required name="email" type="email" ng-model="email" class="form-control" placeholder="Enter email" />
        <span class="help-block" ng-show="frm.submitted && frm.email.$error.required">Please enter an email</span>
        <span class="help-block" ng-show="frm.submitted && frm.email.$error.email">Invalid email</span>
    </p>
    <p ng-hide="createMode">
        <button class="btn btn-primary" ng-click="reset(email)">Reset</button>&nbsp;&nbsp;<span class="help-inline text-success" ng-show="frm.result">{{frm.result}}</span>
    </p>
</form>
<p style="display: none;">{{err}}</p>
<div ng-show="err" class="alert alert-danger" role="alert">
    <p ng-show="err.code === 'INVALID_USER' || err.code === 'INVALID_EMAIL'">User doesn't exist</p>
    <p ng-show="!err.code">{{err}}</p>
</div>
