<form name="frm" role="form" novalidate ng-init="lang = $root.languages[0]">
    <div class="modal-header">
        <h3 class="modal-title">Search lessons</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="q">Query</label>
            <input class="form-control" id="q" name="q" ng-model="q" required></select>
        </div>
        <div class="form-group">
            <label for="lang">Language</label>
            <select class="form-control" id="lang" name="lang" ng-model="lang" ng-options="lang.name for lang in $root.languages" required></select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$root.search(q, lang); $dismiss();" ng-disabled="frm.$invalid">Search</button>
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    </div>
</form>
